<div class="row justify-content-center text-center mt-lg-3">
    <h1 class="text-secondary">What we do</h1>
    <div class="col-lg-4">
        <div class="card h-100 branded-card">
            <div class="card-body">
                <h4 class="card-title">Events</h4>
                <p class="text-text">
                    We run quarterly community meetings, as well as ad hoc events. See what's coming up!
                </p>

            </div>
            <a type=button class="btn btn-branded" href="/events">Go to events</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card h-100 branded-card">
            <div class="card-body">
                <h4 class="card-title">Resources</h4>
                <p class="text-text">
                    See what resources the community has created
                </p>
            </div>
            <a type=button class="btn btn-branded" href="/resources">Explore resources</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card h-100 branded-card">
            <div class="card-body">
                <h4 class="card-title">Working groups</h4>
                <p class="text-text">
                    See what work is currently taking place in the community, as well as past and planned working groups
                </p>
            </div>
            <a type=button class="btn btn-branded" href="/groups">See working groups</a>
        </div>
    </div>
</div>