<div class="row text-center mt-lg-2">
    <div class="col-lg-6">
        <h1 class="text-secondary">Who we are</h3>
            <p>
                We want to have a <b>four nations, coordinated, collaborative approach</b> to research infrastructure for working with sensitive data.</br></br>
                As a community, we run community events, support working groups, and signpost to relevant resources and tools for the TRE community.</br></br>
                Whilst we are focused on the UK, we welcome anyone working on research infrastructure to work with us!
            </p>
    </div>
    <div class="col-lg-6">
        <img src="images/community-photo.JPEG" class="img-fit" />
    </div>
</div>